<h3>{{quizCtrl.title}}</h3>
<div ng-show="!!quizCtrl.quizMessage" class="alert alert-success" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    {{quizCtrl.quizMessage}}
</div>
<button class="btn btn-info" ng-click="quizCtrl.addQuestionClick()">Add Question</button>
<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="quizQuestion in quizCtrl.quiz.quizQuestionList">{{quizQuestion}}</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <ng-form name="quiz">
            <div class="form-group">
                <label for="totalTime">Total time(seconds)</label>
                <input id="totalTime" type="number" ng-model="quizCtrl.quiz.totalTimeSec" class="form-control" name="quizTotalTime">
                <label for="passNumber">Number of rights answered questions to pass</label>
                <input id="passNumber" type="number" ng-model="quizCtrl.quiz.passNumber" class="form-control" name="quizPassNumber">
            </div>
        </ng-form>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <button class="btn btn-success btn-lg" ng-click="quizCtrl.updateQuiz()">Save</button>
    </div>
</div>