<h2>Course Content</h2>

<ul>
    <li ng-repeat="courseModule in courseCtrl.courseModules">
        {{courseModule.name}} :
        {{courseModule.description}} <br>
        <a ui-sref="admin.module({id: courseModule.moduleId})" class="btn btn-info">Navigate to Module</a>
        <hr>
    </li>
</ul>

<a ui-sref="admin.courseList" class="btn btn-info">Back</a>
<button class="btn btn-warning" ng-click="courseCtrl.addModuleClick()">Add module</button>
<div class="row" ng-show="courseCtrl.course.courseType == 1">
    <hr>
    <h3>Course Sessions</h3>
    <div class="col-md-5 col-md-offset-2">
        <div class="row">
            <div class="col-md-10">
                Start Date:
                <pre>Start Date date is: <em>{{courseCtrl.currentSession.startDate | date:'fullDate' }}</em></pre>
            </div>
        </div>
        <div style="display:inline-block; min-height:290px;">
            <div uib-datepicker ng-model="courseCtrl.currentSession.startDate" class="well well-sm" datepicker-options="courseCtrl.options"></div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-10">
                End Date:
                <pre>End Date date is: <em>{{courseCtrl.currentSession.endDate | date:'fullDate' }}</em></pre>
            </div>
        </div>
        <div style="display:inline-block; min-height:290px;">
            <div uib-datepicker ng-model="courseCtrl.currentSession.endDate" class="well well-sm" datepicker-options="courseCtrl.options"></div>
        </div>
        <button class="btn btn-info btn-lg" ng-click="courseCtrl.createCourseSession()">Create Course Session</button>
    </div>
