<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="col-md-4 col-md-offset-4">-->
            <!--<form role="form">-->
                <!--<h2 class="form-login-heading">Login</h2>-->
                <!--<div  class="form-group">-->
                    <!--<input type="text" class="form-control"-->
                           <!--placeholder="Email" data-ng-model="loginData.userName" required autofocus>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<input type="password" class="form-control"-->
                           <!--placeholder="Password" data-ng-model="loginData.password" required>-->
                <!--</div>-->
                <!--<button class="btn btn-lg btn-info"-->
                        <!--type="submit" data-ng-click="login()">-->
                    <!--Login-->
                <!--</button>-->
                <!--<div data-ng-hide="message == ''" class="alert alert-danger">-->
                    <!--{{message}}-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="login" style="height:100%;">
<div >
    <div class="login_wrapper" style="margin-top:0;">
        <div class="animate form login_form">
            <section class="login_content">
                <form>
                    <h1>Login Form</h1>
                    <div>
                        <input type="text" class="form-control" placeholder="Email" data-ng-model="loginData.userName" required="" />
                    </div>
                    <div>
                        <input type="password" class="form-control" placeholder="Password" data-ng-model="loginData.password" required="" />
                    </div>
                    <div>
                        <a class="btn btn-default submit" data-ng-click="login()" href="#">Log in</a>
                        <a class="reset_pass" href="#">Lost your password?</a>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <p class="change_link">New to site?
                            <a href="#signup" class="to_register"> Create Account </a>
                        </p>

                        <div class="clearfix"></div>
                        <br />

                        <div>
                            <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                            <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>

        <div id="register" class="animate form registration_form">
            <section class="login_content">
                <form>
                    <h1>Create Account</h1>
                    <div>
                        <input type="text" class="form-control" placeholder="Username" required="" />
                    </div>
                    <div>
                        <input type="email" class="form-control" placeholder="Email" required="" />
                    </div>
                    <div>
                        <input type="password" class="form-control" placeholder="Password" required="" />
                    </div>
                    <div>
                        <a class="btn btn-default submit" href="index.html">Submit</a>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <p class="change_link">Already a member ?
                            <a href="#signin" class="to_register" > Log in </a>
                        </p>

                        <div class="clearfix"></div>
                        <br />

                        <div>
                            <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                            <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                        </div>
                    </div>
                </form>
                <div data-ng-hide="message == ''" class="alert alert-danger">
                    {{message}}
                </div>
            </section>
        </div>
    </div>
</div>
</div>




